p {
  margin: 0
}
.textoVerde {
  background-color: green
}

.textoAmarillo {
  background-color: yellow
}

#map {
  height: 250px;
  width: 250px;
}

.tarjetaUser {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  padding: 20px;
  width: 300px;
  height: 500px;
  border-radius: 15px;
}

.imagen {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}